version: '3.8'

services:
  ############################
  # OpenLDAP + phpLDAPadmin
  ############################
  openldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    environment:
      LDAP_ORGANISATION: "ENSA"
      LDAP_DOMAIN: "ensa.local"
      LDAP_ADMIN_PASSWORD: admin
    ports:
      - "389:389"
      - "636:636"

  phpldapadmin:
    image: osixia/phpldapadmin:0.9.0
    container_name: phpldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: openldap
    ports:
      - "6443:443"
    depends_on:
      - openldap

  ############################
  # Keycloak (with LDAP sync)
  ############################
  keycloak:
    image: quay.io/keycloak/keycloak:25.0
    container_name: keycloak
    command:
      - start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      - openldap

  ############################
  # PostgreSQL for Guacamole
  ############################
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: guac
      POSTGRES_PASSWORD: guac
      POSTGRES_DB: guacdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

  ############################
  # Guacamole Daemon
  ############################
  guacd:
    image: guacamole/guacd:1.5.5
    container_name: guacd

 ############################
  # Guacamole WebApp
  ############################
  guacamole:
    image: guacamole/guacamole:1.5.5
    container_name: guacamole
    environment:
      GUACD_HOSTNAME: guacd
      POSTGRES_HOSTNAME: postgres
      POSTGRES_DATABASE: guacdb
      POSTGRES_USER: guac
      POSTGRES_PASSWORD: guac
      EXTENSIONS: "auth-sso-openid"
      GUACAMOLE_HOME: /etc/guacamole
    ports:
      - "8081:8080"
    volumes:
      - /etc/guacamole:/etc/guacamole
    depends_on:
      - guacd
      - postgres
      - keycloak


  ############################
  # Prometheus
  ############################
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"

  ############################
  # Grafana
  ############################
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"

volumes:
  postgres_data:
