# Définition de la version de Docker Compose
version: '3.8'

services:
  # =======================================================================
    # RÔLE DE CE CONTENEUR :
    # Ce conteneur ('db') est le serveur de base de données PostgreSQL.
    # Son unique rôle est de stocker les données de configuration (Guacamole et Keycloak).
  
    # CONNEXIONS AVEC D'AUTRES SERVICES :
    # Ce service n'initie aucune connexion. Il attend les connexions entrantes.
    #
    # - 'guacamole-webapp' (Connexion entrante) :
    #   'guacamole-webapp' se connecte à ce conteneur pour lire et écrire la
    #   liste des connexions RDP et leurs permissions (dans la BD 'guacamole_db').
    #
    # - 'keycloak' (Connexion entrante) :
    #   'keycloak' se connecte aussi à ce conteneur (avec le même utilisateur).
    #   Keycloak va automatiquement créer et gérer sa PROPRE base de
    #   données (ex: 'keycloak_db') à l'intérieur de ce service pour
    #   stocker ses realms, clients, etc.
    # =======================================================================
  db:
    image: postgres:15
    container_name: db_postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - services-net
    environment:
      POSTGRES_USER: guacamole_user
      POSTGRES_PASSWORD: password 
      POSTGRES_DB: guacamole_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U guacamole_user -d guacamole_db"]
      interval: 5s
      timeout: 5s
      retries: 5

# --- 2. LE SERVICE D'ANNUAIRE ---
    # =======================================================================
    # RÔLE DE CE CONTENEUR :
    # Ce conteneur ('ldap') est le serveur d'annuaire OpenLDAP.
    # Son unique rôle est de stocker et de gérer les informations d'identité :
    # les utilisateurs (ex: 'etudiant1'), les mots de passe, et les groupes
    # (ex: 'groupFiliereA'). C'est la "source de vérité" pour qui est qui.
    #
    # CONNEXIONS AVEC D'AUTRES SERVICES :
    # Ce service attend
  ldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    volumes:
      # Volume de l'annuaire (utilisateurs, groupes)
      - ldap-data:/var/lib/ldap
      # RColume pour la configuration d'OpenLDAP 
      - ldap-config:/etc/ldap/slapd.d
    networks:
      - services-net
    environment:
      # Définit le domaine de base pour votre annuaire.
      # 'dc=ensate,dc=local' sera votre "Base DN"
      LDAP_DOMAIN: ensate.local # ??? 
      # Définit le mot de passe pour l'administrateur LDAP (ex: cn=admin,dc=ensate,dc=local)
      LDAP_ADMIN_PASSWORD: password
    healthcheck:
      test: ["CMD", "ldapsearch", "-x", "-b", "dc=ensate,dc=local", "-H", "ldap://localhost"]
      interval: 5s
      timeout: 5s
      retries: 5



# Définition des volumes pour la persistance des données
volumes:
  db-data:
  ldap-data:
  ldap-config: